{extends file='./layout.tpl'}

{block name=page-titlet}Test{/block}

{block name=content}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" width="20">#</th>
								<th scope="col">Nome</th>
							</tr>
						</thead>
						<tbody>

							{foreach from=$rows item=row}
								<tr>
									<th scope="row">{$row['id']}</th>
									<td>{$row['name']}</td>
								</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{/block}